<!DOCTYPE html>
<html>
<head>
<title>Global Game Jam 2017 music</title>

<style>
table {border-collapse: collapse; border: solid black 3px; }
table td { border: solid black 1px; padding: 0px 1ex; }
table th { border: solid black 3px; background: #ccc; }

div.pad { height: 5em; }
</style>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- jPlayer Jukebox add-on -->
<link type="text/css" href="//gyrocode.github.io/jplayer-jukebox/0.6.0/skin/uno/jplayer.uno.min.css" rel="stylesheet" />
<script type="text/javascript" src="//gyrocode.github.io/jplayer-jukebox/0.6.0/jplayer.jukebox.bundle.min.js"></script>

<script type="text/javascript">
   $(document).ready(function(){
      // Initialize jPlayerJukebox
      var jpjb = new jPlayerJukebox({
         "jukeboxOptions": {
            autoAdvance: false,
            position: "fixed-b"
         }
      });
   });
</script>

</head>

<body>
    <p>Here is the music I\'ve made for this year\'s Global Game Jam (2018), most recent first. Please see <a href="https://github.com/plaidfluff/ggj2018-music">my GitHub repo</a> for more information.</p>
    <p>Or you can listen to stuff from <a href="/2017/">2017</a> or <a href="/2016/">2016</a> if you want!</p>
    <p>I recommend using .ogg if possible.</p>
<table>
<tr><th>Folder</th><th>Name</th><th>Duration</th><th>mp3</th><th>ogg</th><th>flac</th><th>Updated</th></tr>
